[loggers]
keys=root

[handlers]
keys=dflt,rotate

[formatters]
keys=dflt

[logger_root]
level=NOTSET
handlers=rotate,dflt

[handler_dflt]
class=StreamHandler
level=NOTSET
formatter=dflt
args=(sys.stdout,)

[handler_rotate]
class=handlers.RotatingFileHandler
level=NOTSET
formatter=dflt
#log_path is passed in as a default parameter
args=('%(log_path)s', 'w', 200000000, 5)

[formatter_dflt]
format=%(levelname)s %(asctime)s %(filename)s %(lineno)d ==> %(message)s
datefmt=
