{% extends "base_page.html" %}
{% load feednut_tags %}

{% block content %}

<div id="faq" class="center-blurb">
    <h2>Frequently Asked Questions</h2>
	<ol>
	    <li>
	        <div class="q">What is FeedNut?</div>
	        <div class="a">
		        FeedNut is the answer that all of you news nuts have been looking for! 
		        First off, FeedNut allows you to subscribe to any news feeds available on the web. This means you no longer have to visit several websites just to read your news.
		        Just subscribe to the sites you want updates on, and then visit just one site: <a href="http://feednut.com">FeedNut!</a>
		        FeedNut makes it easy for you to organize your news. You can tag (i.e. group) your feeds using keywords so that it is easier to retrieve the news you want later.
		        FeedNut employs drag-and-drop principles for ordering your feeds. Just click on the feed you want to move and drag it to the new location!
		        In addition, FeedNut allows you to link your articles to several social bookmarking/news sites such as <a target="_blank" href="http://del.icio.us">del.icio.us</a>, <a target="_blank" href="http://reddit.com">reddit</a> and many more!
		        Try it out! It's free, easy to use, and takes about 15 seconds to sign up.
	        </div>
	    </li>
	    <li>
	        <div class="q">Is FeedNut free to use?</div>
	        <div class="a">
		        FeedNut is 100% free to use, and it always will be. All YOU need to provide is a username, password, and your email (for confirmation purposes).
	        </div>
	    </li>
	    <li>
	        <div class="q">What is a Feed? What is RSS?</div>
	        <div class="a">
	            We all read the news, right? Sometimes we have to explore all around a site in order to find the news we want.
	            With Feeds, you don't have to! Simply put, a Feed is usually a collection of news articles that get constantly updated by the source provider. Feeds come in a file format knows as RSS.
	            RSS is a protocol (XML) that provides an open method of syndicating and aggregating web content. RSS files (i.e. Feeds) are used to supply news headlines, links, and article summaries.
	            Feeds and FeedNut make reading the news fun and efficient!
	        </div>
	    </li>
	    <li>
	        <div class="q">Why should I use FeedNut?</div>
	        <div class="a">
	            There are many reasons why you should use FeedNut! Here's just a few:
	            <ul>
	                <li>FeedNut is 100% free to use!</li>
	                <li>Want to group your feeds together? FeedNut allows you to tag your feeds so it is easy to only display certain feeds and articles!</li>
	                <li>We know you love to read the latest news, but you can also bookmark your favorite articles for future retrieval.</li>
	                <li>It's fun and easy to use! And efficient!</li>
	            </ul>
	        </div>
	    </li>
	    <li>
	        <div class="q">How do I subscribe to a feed?</div>
	        <div class="a">
	            There are a few ways to subscribe to a feed:
	            <ul>
	                <li>Click on the 'Search' link and type the url of the feed you want to subscribe to into the first text box and hit enter.</li>
	                <li>Search for a feed and click the subscribe button next to the feed.</li>
	                <li>You can subscribe to feeds on other users' pages by clicking the Subscribe button next to the feed title.</li>
	            </ul>
	        </div>
	    </li>
	    <li>
	        <div class="q">How do I tag a feed?</div>
	        <div class="a">
	            Each feed has a number of links underneath the title and description. When clicked, one of the links, 'tag', will provide you with a textbox to type tags into. Just type your tags (separated by spaces) and click the Tag! button.
	            Tags are nice because they allow you to group your feeds together using key words.
	            For example, if you tag your sports-related feeds with a common tag (such as 'sports'), then later on want to read just your sports feeds, click the 'sports' tag from your list, and only those feeds will be shown!
	        </div>
	    </li>
	    <li>
	        <div class="q">Who is behind FeedNut?</div>
	        <div class="a">FeedNut was created and designed by Tom Zellman and Wes Bornor, both 2003 graduates of the <a target="_blank" href="http://www.umich.edu">University of Michigan</a>, with degrees in Computer Engineering. Tom and Wes strive to make the world a better place through software.
	        	You can see Tom's feeds at <a href="/tom/">www.feednut.com/tom/</a> and Wes's feeds at <a href="/wes/">www.feednut.com/wes/</a>.
	        </div>
	    </li>
	</ol>

</div>


{% endblock %}