{% load feednut_tags %}
{% load feednut_filters %}

<div id="forgot_pass">
	<h3 style="margin-bottom:0;">Forgotten Your Password?</h3>
	<div>Enter your email and we will send you a link that will let you reset your password.</div>
	<form onsubmit="forgot_password(this, 'fpass_st'); return false;" action="/login/forgot/">
		<table align="center">
		<tr><td><label for="email">email</label></td><td><input type="text" name="email" size="30" maxlength="128"/></td></tr>
		</table>
		<div class="submit-row"><input class="submit" type="submit" value="Remind me!"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input onclick="hideLightbox(); return false;" class="submit" type="submit" value="Cancel"/></div>
	</form>
	<div class="invisible status" id="fpass_st"></div>
</div>
