{% extends "base_page.html" %}
{% load feednut_tags %}
{% load feednut_filters %}

{% block content %}
<center>
<div id="reset_pass">
    {% if error %}<div class="error">{{ error }}</div>{% endif %}
	<h3 style="margin-bottom:0;">Reset Your Password</h3>
	<form method="POST" action="/login/reset/">
		<table align="center">
		<tr><td><label for="new_pass1">new password:</label></td><td><input type="password" name="new_pass1" maxlength="128"/></td></tr>
		<tr><td><label for="new_pass2">new password (again):</label></td><td><input type="password" name="new_pass2" maxlength="128"/></td></tr>
		</table>
		<input type="hidden" name="hash" value="{{ hash }}"/>
		<input type="hidden" name="email" value="{{ email }}"/>
		<input type="hidden" name="username" value="{{ username }}"/>
		<div class="submit-row"><input class="submit" type="submit" value="Submit"/></div>
	</form>
	<div class="invisible status" id="fpass_st"></div>
</div>
</center>
{% endblock %}