{% extends "base_page.html" %}
{% load feednut_tags %}

{% block content %}

<div id="faq" class="center-blurb">
    <h2>Terms of Service/Use</h2>
    
    <h3>Welcome to FeedNut! By accessing the FeedNut website ("Site") you agree and acknowledge to be bound by these Terms of Service ("Terms"). If you do not agree to these Terms or to our Privacy Policy, please do not access the Site. FeedNut reserves the right to change these Terms at any time. It is recommended that you periodically check this Site for changes.</h3>
    
    <ol>
        <li>
		    <div class="q">To Summarize...</div>
	        <div class="a">We do not release individual information about our clients/users to any outside parties, at all. We take pride in the relationship with our users and take our responsibility seriously.</div>
	    </li>
	    
	    <li>
		    <div class="q">Usage License</div>
	        <div class="a">FeedNut grants you a limited license to access the Site in accordance with these Terms and the guidelines posted on the Site. FeedNut reserves the rights to terminate your license to use the Site at any time and for any reason.</div>
	    </li>
	    
	    <li>
		    <div class="q">User Responsibility</div>
	        <div class="a">You, the user, are solely responsible for your use of the Site. The Feeds cached by FeedNut do not represent the advice, views, opinions or beliefs of FeedNut, and FeedNut makes no claim of accuracy of any saved Feeds. FeedNut allows for the posting of links to third-party websites. The linked websites' content, business practices and privacy policies are not under our control, and we are not responsible for the content of any linked website or any link contained in a linked website. The inclusion of a link on the Site does not imply any endorsement by or any affiliation with FeedNut. In accessing the Site or following links to third-party websites you may be exposed to content that you consider offensive or inappropriate. You agree that your only recourse is to stop using the Site.</div>
	    </li>
	    
	    {% comment %}
	    <li>
		    <div class="q">Feeds and API</div>
	        <div class="a">Fill this in...</div>
	    </li>
	    {% endcomment %}
	    
	    <li>
		    <div class="q">Intellectual Property (Trademarks & Copyrights)</div>
	        <div class="a">FeedNut, the FeedNut logo and the FeedNut design may not be used without express written permission from FeedNut, other than for attribution. All other trademarks not owned by FeedNut that appear on this Site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by FeedNut. FeedNut-originated content included on the Site, such as text, graphics, logos, data compilations, APIs, software and the compilation of all content on the Site, is the property of FeedNut and its licensors and protected by United States and international copyright laws. Except as set out in these Terms, no reproduction of any FeedNut-originated content is permitted without written permission from FeedNut.</div>
	    </li>
	    
	    {% comment %}
	    <li>
		    <div class="q">No Warranty and Limitation of Liability</div>
	        <div class="a">Fill this in...</div>
	    </li>
	    
	    <li>
		    <div class="q">Other</div>
	        <div class="a">Fill this in...</div>
	    </li>
	    {% endcomment %}
	    
	</ol>
</div>


{% endblock %}