<div class="center-blurb">
<h2>Welcome to Feednut!</h2>
<p>Feednut is about reading your news at a <span class="strong large">glance</span>. If you're busy (like Tom and Wes are), you don't 
have time to go from news site to news site or to click through a bunch of folders like on other 
news aggregators. Feednut's display makes it easy to skim over all of your most important news often times in just one click. 
<p>Want a demo? Feednut is a <span class="strong large">community</span> system, meaning you can 
check out other people's feeds. Check out Tom's at <a href="/tom/">feednut.com/tom</a> or Wes' at <a href='/wes/'>feednut.com/wes</a> to get a taste of what we're talking about.</p>
<p>Tom and Wes are geeks. We get a kick out of acronyms like XML, RSS, and ATOM. But you don't have to be a geek to use Feednut (geeks are still welcome!!!). Feednut makes 
it <span class="strong large">easy to find</span> and add your favorite news feeds.</p>
<p>Most importantly, FeedNut is free to use! Want to get started? <a class="welclink" id="createacc" href="/login/?new=&lb={% if url %}&url={{ url }}{% endif %}" rel="lightbox">Create an account!</a></p>
</div>